<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emili.mediwhen20">

    <application
        android:allowBackup="true"
        android:icon="@drawable/two_main_ic"
        android:label="@string/app_name"
        android:roundIcon="@drawable/two_main_ic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--
        @drawable/two_main_ic was downloaded from a royalty free website, Icon made by Freepik (https://www.flaticon.com/authors/freepik) from www.flaticon.com
        -->
        <activity
            android:name=".MainList"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateMedicine" />
        <activity
            android:name=".MedicineInfo"
            android:label="MediWhen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TodayMed"></activity>

    </application>

</manifest>